<% datasource = ENV['SERVICE_DATASOURCE'] || 'consul_keys.json'
   # Time to wait before reloading configuration again in seconds (0 = never)
   refresh = ENV['REFRESH'] || '3600' %><%= render_file('common/header.html.erb', title: 'Keys') %>
    <div class="main">
      <div class="row mx-0">
        <div id="filter-menu" class="col-4 col-m-3 px-4 pt-4">
          <div class="form-group">
            <div class="input-group">
            <input id="keys-filter" type="text" placeholder="filter keys by name" class="form-control" />
              <div class="input-group-append">
                <span class="input-group-text" id="keys-counter"></span>
              </div>
            </div>
          </div>
          <div id="keys-wrapper" >
            <ul id="keys-list" class="list-group">
            </ul>
          </div>
        </div>
        <div class="col-8 col-m-9">
          <h2 class="text-center" id="kv-title"></h2>
          <div id='data-wrapper'>
            <pre><code id="kv-data">...</code></pre>
          </div>
        </div>
      </div>
    </div>
  <!-- Optional JavaScript -->
  <!-- JavaScript Dependencies: jQuery, Popper.js, Bootstrap JS, Shards JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="js/utils.js"></script>
  <script src="js/types.js"></script>
  <script src="js/keys.js"></script>
  <script src="vendors/highlight/highlight.pack.js"></script>
  <script type="text/javascript">
    consulKeysManager = new ConsulKeysManager('<%= datasource %>');
  </script>
  </body>
</html>
