/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/samples/*.json
/samples/*.xml
/samples/*.html
/samples/*.txt
/samples/*.cfg

# rspec failure tracking
.rspec_status
