/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/samples/**/*.json
/samples/**/*.xml
/samples/**/*.html
/samples/**/*.txt
/samples/**/*.cfg
/samples/prometheus_consul_coordinates
/samples/ready
/samples/render_template_from_kv
/samples/consul_template
/samples/metrics
/samples/service_checks_metrics
/samples/find_blocked_choregraphies
/spec/consul/async/resources/templates/*.txt
/spec/consul/async/resources/templates/*.result
/out.txt

# rspec failure tracking
.rspec_status
# Mac OS
.DS_Store

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# Misc
*.swp
