/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/samples/ready
/samples/*.json
/samples/*.xml
/samples/*.html
/samples/*.txt
/samples/*.cfg
samples/consul-ui/*.html
samples/consul-ui/*.json
samples/consul-ui/common/*.html
/samples/criteo/haproxy.cfg
/samples/consul_template
/samples/metrics
/samples/find_blocked_choregraphies
/samples/tools/*.txt
/spec/consul/async/resources/templates/*.txt
/spec/consul/async/resources/templates/*.result
/out.txt

# rspec failure tracking
.rspec_status
# Mac OS
.DS_Store

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# Misc
*.swp
