.btn:focus, .btn:active, button {
   outline: none !important;
   box-shadow: none;
}

#service-wrapper, #instances-wrapper, #keys-wrapper {
  overflow: scroll;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgba(0,0,0,.125);
}

.service-tags .badge {
  max-width: 8em;
  text-overflow: ellipsis;
  overflow: hidden;
}

#service-wrapper .list-group-item:last-child, #instances-wrapper .list-group-item:last-child,
#keys-wrapper .list-group-item:last-child {
  border-bottom-width: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#service-wrapper .list-group-item:first-child, #instances-wrapper .list-group-item:first-child,
#keys-wrapper .list-group-item:first-child {
  border-top-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#service-wrapper .list-group-item, #instances-wrapper .list-group-item, #keys-wrapper .list-group-item {
  border-left: 0px;
  border-right: 0px;
}

#node-statuses span {
  font-size: 1rem;
  transition: background-color .16s linear;
  cursor: pointer;
}

#node-statuses {
  margin-top: 0.4rem;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 .fas {
  cursor: pointer;
  color: rgba( 0, 0, 0, 0.5);
  font-size: 1.5rem;
  transition: color .16s linear;
}

h2 .fas:hover {
  cursor: pointer;
  color: #007bff;
  opacity: 1;
  font-size: 1.5rem;
}

.custom-links {
  background-color: #EEEEEE;
  color: #333333;
  margin: 3px;
  padding: 5px;
  padding-left: 10px;
}

.progress {
  border-radius: 0px;
}

.progress-status {
  transition: background-color .16s linear, width .16s linear;
  cursor: pointer;
}

.progress-deactivated {
  background-color: #a5a5a5 !important;
  color: #f1f1f1 !important;
}

.status-deactivated {
  background-color: #a5a5a5 !important;
  color: #f1f1f1 !important;
}

.service-status {
  transition: background-color .16s linear;
  font-size: 85%;
  cursor: pointer;
}

#instance-statuses {
  padding-top: 5px;
  text-align: center;
}

.status-sidebar {
  width: 5px !important;
  min-height: 1px;
  flex-shrink: 0;
  flex-grow: 0;
}

.instance-content {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

#nodes #instances-list .list-group-item {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
}

html, body {
    height:100%;
}

.instance-content-header {
  display: flex;
}

.instance-content-header h5 {
  margin-right: 10px;
}

.meta-tags {
  text-align: right;
  flex: 2 0 0;
}

#data-wrapper {
  overflow: scroll;
}

pre, code {
  height: 100%;
  margin-bottom: 0px;
}
